Source: edupals-n4d-toolkit
Section: libs
Priority: optional
Maintainer: Enrique Medina Gremaldos <quique@necos.es>
Build-Depends: debhelper-compat (=13), cmake, make, g++, pkg-config, libedupals-base2 (>=2.1.0.0), libedupals-base-dev (>=2.1.0.0), librapidxml-dev, libcurl4-openssl-dev
Standards-Version: 4.6.0
Homepage: https://github.com/edupals/edupals-n4d-toolkit
Rules-Requires-Root: no

Package: libedupals-n4d2
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libedupals-base2 (>= 2.1.0.0)
Provides: libedupals-n4d
Replaces: libedupals-n4d
Conflicts: libedupals-n4d
Description: Edupals C++ N4D client toolkit
 A C++ N4D client toolkit

Package: libedupals-n4d-dev
Architecture: any
Depends: ${misc:Depends}, libedupals-n4d2 (= ${binary:Version}), libedupals-base-dev (>=2.1.0.0), librapidxml-dev, libcurl4-openssl-dev, cmake, make, g++, pkg-config
Description: Edupals C++ N4D client toolkit development files
 Development files (headers and cmakes) for Edupals N4D toolkit
